/*
MIT License

Copyright (C) 2018 Edinburgh Genome Foundry

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
PARTICULAR PURPOSE AND  NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN
AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

@page {
  margin: 0cm 0 2cm 0cm;
  padding-top: 1cm;
}.

html {
  padding-left: 1cm;
  padding-right: 1cm;
  font-size: 1.2em;
}

h1 {
  text-align: center;
}

body {
  background-color: transparent;
  margin-left: 1cm;
  margin-right: 1cm;
}

h2 {
  font-size: 2.2em;
  /* page-break-before: always; */
}

.ui.piled.segment {
  font-size: 1em;
}

p {
  font-size: 14px;
  line-height: 1.5em;
  text-align: justify;
 }

.block-center {
  display: block;
  margin: 0 auto;
}

.message, figure {
  page-break-inside: avoid;
}

.ui.label.head-label {
  font-size: 0.8em !important;
  float: right;
}

.ui.grid {
  margin-right:-2.8rem;
}

.ui.ordered.list#Table-of-Contents-List a::after {
  color: black;
  content: target-counter(attr(href), page);
  float: right;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

table thead th {
  text-align: center !important;
}
